{{ form_start(form) }}
    {{ form_row(form.patient.firstName) }}
    {{ form_row(form.patient.lastName) }}
    {{ form_row(form.patient.email) }}

    {{ form_row(form.paid) }}
    <button class="btn ">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
