{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block stylesheets %} 
    {{ parent() }}

    <style>
    span.twitter-typeahead {
        display: flex !important;
    }
    </style>
{% endblock %}

{% block body %}
    <h1>Create new Order</h1>

    {{ include('order/_form.html.twig') }}

{#    <a href="{{ path('order_index') }}">back to list</a>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const remoteRoute = "{{ path('patient_filter')|escape('js') }}";
    </script>
    <script src="{{ asset('build/patient-autocomplete.js') }}" ></script>
{% endblock %}
