{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Order No.</th>
                <td>000000000{{ order.id }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ order.kitname }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order.currency }} {{ order.price }}</td>
            </tr>
            <tr>
                <th>Patient Name</th>
                <td>{{ order.firstName }} {{ order.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ order.email }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ order.paid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date ordered</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
        </tbody>
    </table>

    <a href="{{ path('order_index') }}" class="btn btn-outline-dark mt-auto">back to list</a>

{#    <a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-secondary mt-auto">Edit</a>#}
{#    {{ include('order/_delete_form.html.twig') }}#}
{% endblock %}
